Tworzenie samej bazy danych

In [ ]:
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'Projekt_BD')
BEGIN
    CREATE DATABASE Projekt_BD;
END;

Tworzenie wszystkich tabel w bazie danych

In [ ]:
-- Tworzenie bazy danych


-- Usuwanie wszystkich tabel w razie potrzeby
-- DROP TABLE naprawy;
-- DROP TABLE pracownicy;
-- DROP TABLE Adresy;
-- DROP TABLE Historia_pracownikow;
-- DROP TABLE Klienci;
-- DROP TABLE Kontakty;
-- DROP TABLE Urzadzenia;
-- DROP TABLE Urzadzenia_klientow;


-- Tabela Pracownicy
CREATE TABLE Pracownicy (
    id INTEGER IDENTITY(1,1) PRIMARY KEY,
    nazwisko VARCHAR(255) NOT NULL,
	imie VARCHAR(255) NOT NULL
);


-- Tabela Klienci
CREATE TABLE Klienci (
    id INTEGER IDENTITY(1,1) PRIMARY KEY,
    nazwa_firmy VARCHAR(255) NOT NULL
);

-- Tabela osób do kontaktu z klientami
CREATE TABLE Kontakty (
	id INTEGER IDENTITY(1,1) PRIMARY KEY,
	id_firmy INTEGER REFERENCES Klienci(id),
	nazwisko VARCHAR(255) NOT NULL,
	imie VARCHAR(255) NOT NULL,
	tel_kierunkowy VARCHAR(3),
	telefon INTEGER,
	email VARCHAR(255)
);

-- Tabela adresów klientów
CREATE TABLE Adresy (
	id INTEGER IDENTITY(1,1) PRIMARY KEY,
	id_klienta INTEGER REFERENCES Klienci(id),
	ulica VARCHAR(255) NOT NULL,
	numer_budynku VARCHAR(15) NOT NULL,
	numer_lokalu VARCHAR(15),
	miasto VARCHAR(255) NOT NULL,
	kod_pocztowy VARCHAR(15)
);

-- Tabela Urzadzenia
CREATE TABLE Urzadzenia (
    id INTEGER IDENTITY(1,1) PRIMARY KEY,
    producent VARCHAR(255) NOT NULL,
    model VARCHAR(255) NOT NULL
);

-- Tabela z urzadzeniami klientów
CREATE TABLE Urzadzenia_klientow (
	id INTEGER IDENTITY(1,1) PRIMARY KEY,
	id_modelu INTEGER REFERENCES Urzadzenia(id),
	numer_seryjny VARCHAR(255) NOT NULL
);

-- Tabela Naprawy
CREATE TABLE Naprawy (
    id INTEGER IDENTITY(1,1) PRIMARY KEY,
    nr_naprawy INTEGER NOT NULL,
    pracownik_id INTEGER REFERENCES Pracownicy(id),
    klient_id INTEGER REFERENCES Klienci(id),
    urzadzenie_id INTEGER REFERENCES Urzadzenia(id),
    opis_klienta TEXT,
    status VARCHAR(50) NOT NULL,
    diagnoza TEXT,
    wykonane_czynnosci TEXT,
    czesci_do_wymiany TEXT,
    data_przyjecia DATE NOT NULL,
    data_rozpoczecia DATE,
    data_zakonczenia DATE
);

-- Tabela Historia pracowników
-- Tabela rejestrująca wszsystkich pracownikow biorących udział w naprawie
CREATE TABLE Historia_pracownikow (
	id INTEGER IDENTITY(1,1) PRIMARY KEY,
	id_naprawy INTEGER REFERENCES Naprawy(id),
	id_pracownika INTEGER REFERENCES Pracownicy(id)
);

Uzupełnienie tabel danymi

- Dodaję kilku przykładowych pracowników i tabelę urządzeń z której będzie można wykonać autouzupełnianie w aplikacji z GUI\*
- Reszta danych jest całkowicie przykładowa

\*Aplikacja GUI poza aktualnym projektem

In [ ]:
-- Wprowadzanie danych Pracowników
INSERT INTO Pracownicy
VALUES ('Banasik', 'Gaweł'), 
	('Siekierski', 'Paweł'),
	('Zasada', 'Mariusz'),
	('Golan', 'Bolesław'),
	('Kłopotowski', 'Paweł'),
	('Cupryn', 'Andrzej'),
	('Andrzejewski', 'Dawid');

Select * FROM Pracownicy;

-- Wprowadzanie danych urządzeń
INSERT INTO Urzadzenia	VALUES
	('Zebra', 'ZT410'),
	('Zebra', 'ZT230'),
	('Zebra', 'GX430t'),
	('Zebra', 'ZD420'),
	('Zebra', 'ZD620'),
	('Zebra', 'ZXP Series 7'),
	('Zebra', 'ZXP Series 9'),
	('Zebra', 'ZQ620'),
	('Zebra', 'ZQ630'),
	('Zebra', 'ZQ520'),
	('Toshiba', 'B-EX4T1'),
	('Toshiba', 'B-FV4T'),
	('Toshiba', 'B-EV4T'),
	('Toshiba', 'B-SA4TM'),
	('Toshiba', 'B-EX4T2'),
	('Toshiba', 'B-SX5T'),
	('Toshiba', 'B-852-R'),
	('Toshiba', 'B-EP2DL'),
	('Toshiba', 'B-EV4D'),
	('Toshiba', 'B-FV4D'),
	('Honeywell', 'PC42t'),
	('Honeywell', 'PM43'),
	('Honeywell', 'PX940'),
	('Honeywell', 'PM23c'),
	('Honeywell', 'PX4i'),
	('Honeywell', 'PD43'),
	('Honeywell', 'PM42'),
	('Honeywell', 'PC23d'),
	('Honeywell', 'PX6i'),
	('Honeywell', 'PC42d'),
	('TSC', 'TTP-244 Pro'),
	('TSC', 'TA210'),
	('TSC', 'TE200'),
	('TSC', 'TX200'),
	('TSC', 'TTP-247'),
	('TSC', 'TC200'),
	('TSC', 'ME240'),
	('TSC', 'MX240'),
	('TSC', 'TTP-225'),
	('TSC', 'TTP-2410MT');


-- Klienci (Customers) - Sample Data
INSERT INTO Klienci (nazwa_firmy)
VALUES ('Bosch'), ('L''Oréal'), ('Tatra'), ('Firma_1'), ('Firma_23');

-- Kontakty (Contacts) - Sample Data
INSERT INTO Kontakty (id_firmy, nazwisko, imie, tel_kierunkowy, telefon, email)
VALUES
    (1, 'Contact1_LastName', 'Contact1_FirstName', '123', 456789, 'contact1@example.com'),
    (2, 'Contact2_LastName', 'Contact2_FirstName', '456', 987654, 'contact2@example.com'),
    (3, 'Contact3_LastName', 'Contact3_FirstName', '789', 123456, 'contact3@example.com'),
    (4, 'Contact4_LastName', 'Contact4_FirstName', '111', 222333, 'contact4@example.com'),
    (5, 'Contact5_LastName', 'Contact5_FirstName', '444', 555666, 'contact5@example.com');

-- Adresy (Addresses) - Sample Data
INSERT INTO Adresy (id_klienta, ulica, numer_budynku, numer_lokalu, miasto, kod_pocztowy)
VALUES
    (1, 'Street1', '123', 'A1', 'City1', '12345'),
    (2, 'Street2', '456', 'B2', 'City2', '67890'),
    (3, 'Street3', '789', 'C3', 'City3', '13579'),
    (4, 'Street4', '111', 'D4', 'City4', '24680'),
    (5, 'Street5', '222', 'E5', 'City5', '86420');

-- Urzadzenia_klientow (Customers' Devices) - Sample Data
INSERT INTO Urzadzenia_klientow (id_modelu, numer_seryjny)
VALUES
    (1, 'Serial1'),
    (2, 'Serial2'),
    (3, 'Serial3'),
    (4, 'Serial4'),
    (5, 'Serial5');

-- Naprawy (Repairs) - Sample Data (continued)
INSERT INTO Naprawy (nr_naprawy, pracownik_id, klient_id, urzadzenie_id, opis_klienta, status, diagnoza, wykonane_czynnosci, czesci_do_wymiany, data_przyjecia, data_rozpoczecia, data_zakonczenia)
VALUES
	(1, 1, 1, 1, 'Description1', 'urządzenie przyjęte', 'Diagnosis1', 'Actions1', 'Parts1', '2023-01-01', '2023-01-02', '2023-01-03'),
    (2, 1, 2, 2, 'Description2', 'w trakcie naprawy', 'Diagnosis2', 'Actions2', 'Parts2', '2023-02-01', '2023-02-02', '2023-02-03'),
    (3, 2, 3, 3, 'Description3', 'w trakcie naprawy', 'Diagnosis3', 'Acition3', 'Parts3', '2023-03-01', '2023-03-02', '2023-03-03'),
    (4, 2, 4, 4, 'Description4', 'urządzenie przyjęte', 'Diagnosis4', 'Actions4', 'Parts4', '2023-03-01', '2023-03-02', '2023-03-03'),
    (5, 3, 5, 5, 'Description5', 'w trakcie naprawy', 'Diagnosis5', 'Actions5', 'Parts5', '2023-04-01', '2023-04-02', '2023-04-03');

-- Historia_pracownikow (Employees' History) - Sample Data
INSERT INTO Historia_pracownikow (id_naprawy, id_pracownika)
VALUES
    (1, 1),
    (2, 1),
    (3, 2),
    (4, 2),
    (5, 3);

Lista procedur potrzebnych do obsługi bazy dancyh:

- Pokaz\_naprawy - Wyświetla listę ostatnich napraw
- Edytuj\_naprawe - Edycja wybranej naprawy
- Dodaj\_naprawe - Tworzenie nowego wpisu do listy napraw
- Usun\_naprawe - Usuwanie wpisu z tabeli naprawy
- Dodaj\_pracownika - Dodawanie nowego pracownika do bazy danych
- Usun\_pracownika - Usuwanie pracownika z bazy
- Dodaj\_klienta - Dodawanie nowego klienta
- Dodaj\_kontakt - Dodwanie osoby przypisanej do firmy (przedstawiciel danej firmy)
- Dodaj\_adres - Dodawanie adresu do klienta (jeden klient może posiadać wiele adresów)
- Edytuj\_klienta - Modyfikacja danych klienta
- Edytuj\_adres - Modyfikacja adresu klienta
- Edytuj\_kontakt - Modifikacja danych przedstawiciela
- Usun\_klienta - Usuwa klienta z bazy danych
- Usuń\_adres - Usuwa adres klienta
- Usuń\_kontakt - Usuwanie przedstawiciela
- Stat\_prac - Pokazuje ilosc napraw w jakiej dany pracownik brał udział w danym przedziale czasowym
- Stat\_klient - Pokazuje ilość napraw zleconych przez danego klieta
- Pokaz\_klient - Wyświelta listę danego klienta

In [ ]:
-- Procedura: Pokaz_naprawy
-- Opis: Wyświetla listę ostatnich napraw
CREATE PROCEDURE Pokaz_naprawy
AS
BEGIN
    SELECT TOP 10 * FROM Naprawy ORDER BY data_przyjecia DESC;
END;

In [ ]:
-- Procedura: Edytuj_naprawe
-- Opis: Edycja wybranej naprawy
CREATE PROCEDURE Edytuj_naprawe
    @id_naprawy INTEGER,
    @opis_klienta TEXT,
    @status VARCHAR(50)
AS
BEGIN
    UPDATE Naprawy
    SET opis_klienta = @opis_klienta,
        status = @status
    WHERE id = @id_naprawy;
END;

In [27]:
-- Procedura: Dodaj_naprawe
-- Opis: Tworzenie nowego wpisu do listy napraw
CREATE PROCEDURE Dodaj_naprawe
    @nr_naprawy INTEGER,
    @pracownik_id INTEGER,
    @klient_id INTEGER,
    @urzadzenie_id INTEGER,
    @opis_klienta TEXT,
    @status VARCHAR(50),
    @diagnoza TEXT,
    @wykonane_czynnosci TEXT,
    @czesci_do_wymiany TEXT,
    @data_przyjecia DATE,
    @data_rozpoczecia DATE,
    @data_zakonczenia DATE
AS
BEGIN
    INSERT INTO Naprawy (nr_naprawy, pracownik_id, klient_id, urzadzenie_id, opis_klienta, status, diagnoza, wykonane_czynnosci, czesci_do_wymiany, data_przyjecia, data_rozpoczecia, data_zakonczenia)
    VALUES (@nr_naprawy, @pracownik_id, @klient_id, @urzadzenie_id, @opis_klienta, @status, @diagnoza, @wykonane_czynnosci, @czesci_do_wymiany, @data_przyjecia, @data_rozpoczecia, @data_zakonczenia);
END;

In [17]:
-- Procedura: Usun_naprawe
-- Opis: Usuwanie wpisu z tabeli naprawy
CREATE PROCEDURE Usun_naprawe
    @id_naprawy INTEGER
AS
BEGIN
    DELETE FROM Naprawy WHERE id = @id_naprawy;
END;

In [18]:
-- Procedura: Dodaj_pracownika
-- Opis: Dodawanie nowego pracownika do bazy danych
CREATE PROCEDURE Dodaj_pracownika
    @nazwisko VARCHAR(255),
    @imie VARCHAR(255)
AS
BEGIN
    INSERT INTO Pracownicy (nazwisko, imie)
    VALUES (@nazwisko, @imie);
END;

In [20]:
-- Procedura: Usun_pracownika
-- Opis: Usuwanie pracownika z bazy
CREATE PROCEDURE Usun_pracownika
    @id_pracownika INTEGER
AS
BEGIN
    DELETE FROM Pracownicy WHERE id = @id_pracownika;
END;

In [21]:
DROP PROCEDURE UsunPracownika

In [ ]:
-- Procedura: Dodaj_klienta
-- Opis: Dodawanie nowego klienta
CREATE PROCEDURE Dodaj_klienta
    @nazwa_firmy VARCHAR(255)
AS
BEGIN
    INSERT INTO Klienci (nazwa_firmy)
    VALUES (@nazwa_firmy);
END;

In [ ]:
-- Procedura: Dodaj_kontakt
-- Opis: Dodawanie osoby przypisanej do firmy (przedstawiciel danej firmy)
CREATE PROCEDURE Dodaj_kontakt
    @nazwa_firmy VARCHAR(255),
    @nazwisko VARCHAR(255),
    @imie VARCHAR(255),
    @tel_kierunkowy VARCHAR(3),
    @telefon INTEGER,
    @email VARCHAR(255)
AS
BEGIN
    DECLARE @id_firmy INTEGER;
    SELECT @id_firmy = id FROM Klienci WHERE nazwa_firmy = @nazwa_firmy;
    
    INSERT INTO Kontakty (id_firmy, nazwisko, imie, tel_kierunkowy, telefon, email)
    VALUES (@id_firmy, @nazwisko, @imie, @tel_kierunkowy, @telefon, @email);
END;

In [ ]:
-- Procedura: Dodaj_adres
-- Opis: Dodawanie adresu do klienta (jeden klient może posiadać wiele adresów)
CREATE PROCEDURE Dodaj_adres
    @nazwa_firmy VARCHAR(255),
    @ulica VARCHAR(255),
    @numer_budynku VARCHAR(15),
    @numer_lokalu VARCHAR(15),
    @miasto VARCHAR(255),
    @kod_pocztowy VARCHAR(15)
AS
BEGIN
    DECLARE @id_klienta INTEGER;
    SELECT @id_klienta = id FROM Klienci WHERE nazwa_firmy = @nazwa_firmy;
    
    INSERT INTO Adresy (id_klienta, ulica, numer_budynku, numer_lokalu, miasto, kod_pocztowy)
    VALUES (@id_klienta, @ulica, @numer_budynku, @numer_lokalu, @miasto, @kod_pocztowy);
END;

In [ ]:
-- Procedura: Edytuj_klienta
-- Opis: Modyfikacja danych klienta
CREATE PROCEDURE Edytuj_klienta
    @id_klienta INTEGER,
    @nazwa_firmy VARCHAR(255)
AS
BEGIN
    UPDATE Klienci
    SET nazwa_firmy = @nazwa_firmy
    WHERE id = @id_klienta;
END;

In [ ]:
-- Procedura: Edytuj_adres
-- Opis: Modyfikacja adresu klienta
CREATE PROCEDURE Edytuj_adres
    @id_adresu INTEGER,
    @ulica VARCHAR(255),
    @numer_budynku VARCHAR(15),
    @numer_lokalu VARCHAR(15),
    @miasto VARCHAR(255),
    @kod_pocztowy VARCHAR(15)
AS
BEGIN
    UPDATE Adresy
    SET ulica = @ulica,
        numer_budynku = @numer_budynku,
        numer_lokalu = @numer_lokalu,
        miasto = @miasto,
        kod_pocztowy = @kod_pocztowy
    WHERE id = @id_adresu;
END;

In [ ]:
-- Procedura: Edytuj_kontakt
-- Opis: Modyfikacja danych przedstawiciela
CREATE PROCEDURE Edytuj_kontakt
    @id_kontaktu INTEGER,
    @nazwisko VARCHAR(255),
    @imie VARCHAR(255),
    @tel_kierunkowy VARCHAR(3),
    @telefon INTEGER,
    @email VARCHAR(255)
AS
BEGIN
    UPDATE Kontakty
    SET nazwisko = @nazwisko,
        imie = @imie,
        tel_kierunkowy = @tel_kierunkowy,
        telefon = @telefon,
        email = @email
    WHERE id = @id_kontaktu;
END;

In [ ]:
-- Procedura: Usun_klienta
-- Opis: Usuwa klienta z bazy danych
CREATE PROCEDURE Usun_klienta
    @id_klienta INTEGER
AS
BEGIN
    DELETE FROM Klienci WHERE id = @id_klienta;
END;

In [ ]:
-- Procedura: Usun_adres
-- Opis: Usuwa adres klienta
CREATE PROCEDURE Usun_adres
    @id_adresu INTEGER
AS
BEGIN
    DELETE FROM Adresy WHERE id = @id_adresu;
END;

In [ ]:
-- Procedura: Usun_kontakt
-- Opis: Usuwanie przedstawiciela
CREATE PROCEDURE Usun_kontakt
    @id_kontaktu INTEGER
AS
BEGIN
    DELETE FROM Kontakty WHERE id = @id_kontaktu;
END;

In [ ]:
-- Procedura: Stat_prac
-- Opis: Pokazuje ilość napraw w jakiej dany pracownik brał udział w danym przedziale czasowym
CREATE PROCEDURE Stat_prac
    @id_pracownika INTEGER,
    @data_poczatkowa DATE,
    @data_koncowa DATE
AS
BEGIN
    SELECT COUNT(*) AS liczba_napraw
    FROM Naprawy
    WHERE pracownik_id = @id_pracownika
    AND data_przyjecia BETWEEN @data_poczatkowa AND @data_koncowa;
END;

In [ ]:
-- Procedura: Stat_klient
-- Opis: Pokazuje ilość napraw zleconych przez danego klienta
CREATE PROCEDURE Stat_klient
    @id_klienta INTEGER
AS
BEGIN
    SELECT COUNT(*) AS liczba_napraw
    FROM Naprawy
    WHERE klient_id = @id_klienta;
END;

In [ ]:
-- Procedura: Pokaz_klient
-- Opis: Wyświetla listę danego klienta
CREATE PROCEDURE Pokaz_klient
    @id_klienta INTEGER
AS
BEGIN
    SELECT *
    FROM Klienci
    WHERE id = @id_klienta;
END;

Punkty do spełnienia z wymagań:  
  

2. Śledzenie ilości napraw w miesiącu

3. Ilość napraw dokonywanych przez każdego technika indywidualnie

4. Wyszukiwanie napraw po kliencie i/lub numerze naprawy

5. Sprawdzenie urządzeń którego producenta przychodzi najwięcej

6. Naprawy oczekujące po przyjęciu oraz w takcie naprawy pozycjonują się jako pierwsze w celu łatwiejszego obsługiwania bieżących napraw

In [2]:
-- Śledzenie ilości napraw w miesiącu
CREATE PROCEDURE Ilosc_napraw_w_miesiacu
    @miesiac INT,
    @rok INT
AS
BEGIN
    SELECT COUNT(*) AS ilosc_napraw
    FROM Naprawy
    WHERE MONTH(data_przyjecia) = @miesiac AND YEAR(data_przyjecia) = @rok;
END;

In [3]:
-- Ilość napraw dokonywanych przez każdego technika indywidualnie
CREATE PROCEDURE Ilosc_napraw_technika
    @id_technika INTEGER
AS
BEGIN
    SELECT COUNT(*) AS ilosc_napraw
    FROM Naprawy
    WHERE pracownik_id = @id_technika;
END;

In [4]:
-- Wyszukiwanie napraw po kliencie i/lub numerze naprawy
CREATE PROCEDURE Wyszukaj_naprawy
    @id_klienta INTEGER = NULL,
    @numer_naprawy INTEGER = NULL
AS
BEGIN
    SELECT *
    FROM Naprawy
    WHERE (klient_id = @id_klienta OR @id_klienta IS NULL)
        AND (nr_naprawy = @numer_naprawy OR @numer_naprawy IS NULL);
END;

In [5]:
-- Sprawdzenie urządzeń którego producenta przychodzi najwięcej
CREATE PROCEDURE Najpopularniejszy_producent
AS
BEGIN
    SELECT TOP 1 producent
    FROM Urzadzenia_klientow uk
    JOIN Urzadzenia u ON uk.id_modelu = u.id
    GROUP BY producent
    ORDER BY COUNT(*) DESC;
END;

In [6]:
-- Naprawy oczekujące po przyjęciu oraz w takcie naprawy pozycjonują się jako pierwsze w celu łatwiejszego obsługiwania bieżących napraw
CREATE PROCEDURE Wyswietl_naprawy
AS
BEGIN
    SELECT *
    FROM Naprawy
    WHERE status IN ('Oczekuje', 'W trakcie naprawy')
    ORDER BY CASE
        WHEN status = 'Oczekuje' THEN 0
        WHEN status = 'W trakcie naprawy' THEN 1
    END, data_przyjecia;
END;

Wywołanie procedur (dane przypadkowe)

In [22]:
EXEC Ilosc_napraw_w_miesiacu @miesiac = 6, @rok = 2023;
EXEC Ilosc_napraw_technika @id_technika = 1;
EXEC Wyszukaj_naprawy @id_klienta = 2, @numer_naprawy = 1001;
EXEC Najpopularniejszy_producent;
EXEC Wyswietl_naprawy;

ilosc_napraw
0

ilosc_napraw
0

producent
Zebra

Dodawanie zawartości procedurami

In [32]:
-- Dodawanie napraw
EXEC Dodaj_naprawe 1, 6, 1, 1, 'Problem z urządzeniem', 'Oczekuje', NULL, NULL, NULL, '2023-06-01', NULL, NULL;
EXEC Dodaj_naprawe 2, 7, 2, 2, 'Uszkodzony ekran', 'W trakcie naprawy', 'Diagnoza: Uszkodzony ekran LCD', 'Wymieniono ekran LCD', 'Brak', '2023-06-02', '2023-06-03', NULL;
EXEC Dodaj_naprawe 3, 8, 3, 3, 'Nie działa zasilanie', 'Zakończona', 'Diagnoza: Uszkodzony zasilacz', 'Naprawiono zasilanie', 'Nowy zasilacz', '2023-06-03', '2023-06-03', '2023-06-04';
EXEC Dodaj_naprawe 4, 9, 4, 4, 'Brak dźwięku', 'Oczekuje', NULL, NULL, NULL, '2023-06-04', NULL, NULL;
EXEC Dodaj_naprawe 5, 10, 5, 5, 'Przegrzewanie się', 'W trakcie naprawy', 'Diagnoza: Problem z chłodzeniem', 'Czyszczenie wentylatora, wymiana pasty termoprzewodzącej', 'Brak', '2023-06-05', '2023-06-06', NULL;
EXEC Dodaj_naprawe 1, 11, 1, 1, 'Awaria zasilania', 'Zakończona', 'Diagnoza: Uszkodzony zasilacz', 'Naprawiono zasilanie', 'Nowy zasilacz', '2023-06-06', '2023-06-07', '2023-06-08';
EXEC Dodaj_naprawe 3, 12, 3, 3, 'Uszkodzony wyświetlacz', 'Oczekuje', NULL, NULL, NULL, '2023-06-07', NULL, NULL;
EXEC Dodaj_naprawe 2, 13, 2, 2, 'Problemy z oprogramowaniem', 'W trakcie naprawy', 'Diagnoza: Konieczna reinstalacja systemu operacyjnego', 'Zainstalowano nowy system operacyjny', 'Brak', '2023-06-08', '2023-06-09', NULL;
EXEC Dodaj_naprawe 4, 11, 4, 4, 'Uszkodzenie mechaniczne', 'Oczekuje', NULL, NULL, NULL, '2023-06-09', NULL, NULL;
EXEC Dodaj_naprawe 5, 12, 5, 5, 'Brak połączenia sieciowego', 'W trakcie naprawy', 'Diagnoza: Uszkodzona karta sieciowa', 'Wymieniono kartę sieciową', 'Nowa karta sieciowa', '2023-06-10', '2023-06-11', NULL;

In [37]:
SELECT * FROM Urzadzenia

id,producent,model
1,Zebra,ZT410
2,Zebra,ZT230
3,Zebra,GX430t
4,Zebra,ZD420
5,Zebra,ZD620
6,Zebra,ZXP Series 7
7,Zebra,ZXP Series 9
8,Zebra,ZQ620
9,Zebra,ZQ630
10,Zebra,ZQ520
11,Toshiba,B-EX4T1
12,Toshiba,B-FV4T
13,Toshiba,B-EV4T
14,Toshiba,B-SA4TM
15,Toshiba,B-EX4T2
16,Toshiba,B-SX5T
17,Toshiba,B-852-R
18,Toshiba,B-EP2DL
19,Toshiba,B-EV4D
20,Toshiba,B-FV4D
21,Honeywell,PC42t
22,Honeywell,PM43
23,Honeywell,PX940
24,Honeywell,PM23c
25,Honeywell,PX4i
26,Honeywell,PD43
27,Honeywell,PM42
28,Honeywell,PC23d
29,Honeywell,PX6i
30,Honeywell,PC42d
31,TSC,TTP-244 Pro
32,TSC,TA210
33,TSC,TE200
34,TSC,TX200
35,TSC,TTP-247
36,TSC,TC200
37,TSC,ME240
38,TSC,MX240
39,TSC,TTP-225
40,TSC,TTP-2410MT